{% extends 'all-grams/base.html'%} {% load staticfiles %}

<!-- Styles block -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="{% static 'css/timeline.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Heebo" rel="stylesheet"> {% endblock %}
<!-- end of block styles-->

{% block content %} {{block.super}}
<div class "container">
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% for image in timeline_images%}

            <div class="well" style="margin:20px;  background-color:white;">
                <div>
                    <h5 style="font-weight:bolder;font-family: 'Heebo', sans-serif;">&nbsp;&nbsp;&nbsp;{{image.user_key}}</h5>
                </div>
                <img src={{image.image.url}} id="timeline_image" style="width:100%;">
                <div style="margin:10px;">
                    <span class="glyphicon glyphicon-heart" style="font-size:30px;"></span>&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-edit" style="font-size:30px;"></span>
                    <span class="glyphicon glyphicon-bookmark" style="font-size:30px;float:right;"></span>
                    <hr>
                    <a href="{% url 'comment' image.id %}">Add a comment...</a>
                    <span class="glyphicon glyphicon-option-horizontal" style="float:right; font-size:20px;"></span>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
{% endblock %} {% block scripts %} {{block.super}}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>{% endblock %}