{% extends 'all-grams/base.html'%} {% load staticfiles %}{%load bootstrap3 %}

<!-- Styles block -->
{% block styles %} {{block.super}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One|Heebo" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/timeline.css'%}"> {% endblock %}
<!-- end of block styles-->

{% block content %} {{block.super}}
<div class "container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-6">
            {% for image in timeline_images%}
            <div class="well" style="margin:20px;  background-color:white;">
                <div>
                    <h5 style="font-weight:bolder;font-family: 'Heebo', sans-serif;">&nbsp;&nbsp;&nbsp;{{image.user_key}}</h5>
                </div>
                <a href="{% url 'more' image.id %}"><img src={{image.image.url}} id="timeline_image" style="width:100%;">
                </a>
                <div style="margin:10px;">
                    <a href="{% url 'like' image.id %}">
                        <span class="glyphicon glyphicon-heart-empty" style="font-size:30px;" id='like_button'></span>&nbsp;&nbsp;&nbsp;
                    </a>
                    <a href="{% url 'comment' image.id %}">
                        <span class="glyphicon glyphicon-edit" style="font-size:30px;"></span>
                    </a>
                    <span class="glyphicon glyphicon-bookmark" style="font-size:30px;float:right;"></span>
                    <hr>
                    <h5 style="font-weight: bolder;">{{image.likes}} likes</h5>
                    <div style="overflow: hidden; height:50px;">
                        <h5>
                            {{image.comments_number}}&nbsp; comments<a href="{% url 'comment' image.id %}"> View </a>
                        </h5>
                    </div>
                    <h5>{{image.pub_date | timesince}} ago</h5>
                    <hr>
                    <a href="{% url 'comment' image.id %}">Add a comment...</a>
                    <a href="{% url 'more' image.id %}">
                        <span class="glyphicon glyphicon-option-horizontal" style="float:right; font-size:20px;"></span>
                    </a>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col-md-4"></div>
    </div>

</div>
{% endblock %} {% block scripts %} {{block.super}}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
<script type="text/javascript" src="{%static 'js/timeline.js'%}"></script>{% endblock %}